html,body{
  width: 100%;
  padding: 0;
  margin: 0;
}
nav{
  z-index: 98;
  position: fixed;
  top: 0;
  width: 100%;
  height: 176px;
  text-align: center;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
/*profile-navigation*/
.profile-nav{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  height: 200px;
  padding-top: 72px;
}
.profile-picture{
  height: 56px;
  width: 56px;
  margin-left: 20px;
  border-radius: 50%;
}
.profile-info{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 28px;
  padding-left: 28px;
  text-align: left;
}
.profile-info-name{
  font-size: 24px;
  line-height: 24px;
}
.profile-info-location{
  font-size: 10px;
}
/*segmented-control*/
.segmented-control-container{
  width: 75%;
  height: 64px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 auto;
}
.segmented-control{
  display: -webkit-flex;
  display: flex;
  border: 2px solid #70a3b4;
  border-radius: 10px;
  height: 64px;
}
.segmented-cell{
  height: 64px;
  line-height: 64px;
  padding-left: 1px;
  padding-right: 1px;
  border-right: 2px solid #70a3b4;
  border-left: 2px solid #70a3b4;
  -webkit-flex: 1;
  -ms-flex:1;
  flex: 1;
  font-size: 28px;
  background-color: white;
  color: #70a3b4;
  cursor: pointer;
  transition-duration: 0.3s;
}
.segmented-cell:nth-child(1){
  border-right: none;
  border-left: none;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.segmented-cell:nth-last-child(1){
  border-right: none;
  border-left: none;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.segmented-cell[selected="selected"]{
  background-color: #70a3b4;
  color: white;
  cursor: default;
  transition-duration: 0.3s;
}
.segmented-cell[selected="selected"]:nth-child(1){
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.segmented-cell[selected="selected"]:nth-last-child(1){
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.title{
  width: 100%;
  height: auto;
  padding-bottom: 16px;
  text-align: center;
  font-size: 48px;
  color: #70a3b4;
}
/* page view controller*/
main{
  display: inline-block;
  position: absolute;
  top: 176px;
  width: 100%;
  height: 100%;
}
.background{
  z-index: -1;
  position: fixed;
  top: 176px;
  width: 100%;
  height: 100%;
}
.background > img{
  width: 100%;
  height: 100%;
}
.page-view{
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
}
.page-view[display="show"]{
  display: inline-block;
}
/* diary */
.diary-month{
  color: white;
  font-size: 84px;
  font-weight: 300;
  text-align: center;
}
.diary-card{
  display: -webkit-flex;
  display: flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 96%;
  height: 176px;
  margin: 16px auto 16px auto;
  padding: 16px 16px 24px 32px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: #70a3b4;
}
.diary-date-container{
  width: auto;
  height: 100%;
  text-align: center;
}
.diary-date{
  font-size: 72px;
}
.diary-day{
  font-size: 28px;
}
.diary-content-container{
  margin-left: 18px;
  padding-top: 20px;
  line-height: 170%;
}
.diary-time{
  font-size: 24px;
}
.diary-title{
  font-size: 32px;
}
.diary-content{
  line-height: 230%;
  font-size: 26px;
}
/*modal*/
.modal-container{
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  -webkit-align-content: center;
  align-content: center;
}
.modal-container[display="none"]{
  display: none;
}
.modal{
  position: relative;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  margin: 48px 20px 0 20px;
  border-radius: 30px;
  background-color: white;
  height: 88%;
}
.modal-cancel{
  position: absolute;
  top: 0;
  right: 0;
  width: 128px;
  height: 128px;
}
.modal-info{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding-top: 16px;
  width: 100%;
  height: 260px;
  background-color: #67b5e6;
  color: white;
  text-align: center;
}
.info-month{
  font-size: 28px;
}
.info-date{
  line-height: 144px;
  font-size: 144px;
}
.info-day-time{
  display: -webkit-flex;
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-size: 14px;
}
.info-weather-location{
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    justify-content: center;
    font-size: 14px;
    line-height: 64px;
}
.info-weather{
    margin-right: 15px;
}
.info-location{

}
.modal-title{
  padding: 40px 0 40px 0;
  font-size: 48px;
  text-align: center;
}
.modal-content{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 62%;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0 auto;
  color: #70a3b4;
  overflow-y: scroll;
  line-height: 150%;
}
.modal-toolbar{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8%;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  background-color: #67b5e6;
}
/*tool bars*/
.tool-bars{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 64px;
  background-color: #67b5e6;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.tool-entries{
  margin-left: auto;
  color: white;
}
/*calendar*/
.calendar-container{
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: #67b5e6;
}
.calendar{
  padding: 48px 0 48px 0;
  text-align: center;
}
.calendar-month{
  font-size: 24px;
}
.calendar-date{
  font-size: 144px;
  font-weight: 100;
}
.calendar-day{
  font-size: 24px;
}
@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
  nav{
    height: 132px;
  }
  .profile-nav{
    height: 150px;
    padding-top: 54px;
  }
  .profile-info{
    padding-top: 21px;
    padding-left: 21px;
  }
  .segmented-control-container{
    width: 75%;
    height: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .segmented-control{
    height: 48px;
  }
  .segmented-cell{
    height: 48px;
    line-height: 48px;
    font-size: 21px;
  }
  .title{
    width: 100%;
    height: auto;
    padding-bottom: 12px;
    font-size: 36px;
  }
  /* page view controller*/
  main{
    top: 132px;
  }
  .background{
    top: 132px;
  }
  /* diary */
  .diary-month{
    font-size: 63px;
  }
  .diary-card{
    width: 96%;
    height: 132px;
    margin: 9px auto 9px auto;
    padding: 12px 12px 18px 24px;
  }
  .diary-date-container{
    height: 100%;
  }
  .diary-date{
    font-size: 48px;
  }
  .diary-day{
    font-size: 21px;
  }
  .diary-content-container{
    margin-left: 11px;
    padding-top: 15px;
    line-height: 128%;
  }
  .diary-time{
    font-size: 18px;
  }
  .diary-title{
    font-size: 24px;
  }
  .diary-content{
    line-height: 230%;
    font-size: 20px;
  }
  .tool-bars{
    height: 48px;
  }
  /*modal*/
  .modal{
    margin: 36px 15px 0 15px;
    height: 88%;
  }
  .modal-cancel{
    width: 96px;
    height: 96px;
  }
  .modal-info{
    padding-top: 12px;
    width: 100%;
    height: 195px;
  }
  .info-month{
    font-size: 21px;
  }
  .info-date{
    line-height: 108px;
    font-size: 108px;
  }
  .info-day-time{
    font-size: 10.5px;
  }
  .info-weather-location{
    font-size: 10.5px;
    line-height: 48px;
  }
  .modal-content{
    width: 100%;
    height: 70%;
  }
  .modal-title{
    padding: 30px 0 30px 0;
    font-size: 36px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  nav{
    height: 80px;
  }
  .profile-nav{
    height: 100px;
    padding-top: 36px;
  }
  .profile-info{
    padding-top: 14px;
    padding-left: 14px;
  }
  .segmented-control-container{
    width: 75%;
    height: 28px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .segmented-control{
    height: 24px;
    border-radius: 5px;
  }
  .segmented-cell{
    height: 24px;
    line-height: 24px;
    font-size: 12px;
  }
  .segmented-cell[selected="selected"]:nth-child(1){
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
  }
  .segmented-cell[selected="selected"]:nth-last-child(1){
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
  }
  .title{
    width: 100%;
    height: auto;
    font-size: 22px;
  }
  /* page view controller*/
  main{
    top: 80px;
  }
  .background{
    top: 80px;
  }
  /* diary */
  .diary-month{
    font-size: 42px;
  }
  .diary-card{
    width: 96%;
    height: 88px;
    margin: 6px auto 6px auto;
    padding: 8px 8px 12px 16px;
    border-radius: 5px;
  }
  .diary-date-container{
    height: 100%;
  }
  .diary-date{
    font-size: 32px;
  }
  .diary-day{
    font-size: 14px;
  }
  .diary-content-container{
    margin-left: 9px;
    padding-top: 10px;
    line-height: 85%;
  }
  .diary-time{
    font-size: 12px;
  }
  .diary-title{
    font-size: 16px;
  }
  .diary-content{
    line-height: 230%;
    font-size: 9px;
  }
  .tool-bars{
    height: 44px;
  }
  /*modal*/
  .modal{
    margin: 24px 10px 0 10px;
    height: 88%;
  }
  .modal-cancel{
    width: 64px;
    height: 64px;
  }
  .modal-info{
    padding-top: 8px;
    width: 100%;
    height: 130px;
  }
  .info-month{
    line-height: 14px;
    font-size: 14px;
  }
  .info-date{
    line-height: 64px;
    font-size: 72px;
  }
  .info-day-time{
    font-size: 7px;
  }
  .info-weather-location{
    font-size: 7px;
    line-height: 32px;
  }
  .modal-content{
    height: 70%;
  }
  .modal-title{
    padding: 20px 0 20px 0;
    font-size: 24px;
  }
}
