html,body{
  width: 100%;
  padding: 0;
  margin: 0;
}
/*nav bar*/
nav{
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  z-index: 98;
  position: fixed;
  top: 0;
  width: 100%;
  height: 216px;
  padding: 20px 60px;
  text-align: center;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
/*table*/
.profile-picture{
  width: 108px;
  height: 108px;
  border-radius: 50%;
}
.profile-info{
  margin-left: 20px;
  text-align: left;
}
.profile-info-name{
  font-size: 48px;
}
.profile-info-location{
  font-size: 24px;
}
main{
  width: 100%;
  position: absolute;
  top: 216px;
}
.table-container{
}
.table{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 10%;
  border-bottom: 2px solid #505050;
  width: 90%;
  height: 180px;
}
@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi){
  nav{
    height: 162px;
    padding: 15px 45px;
  }
  main{
    top: 162px;
  }
  .profile-picture{
    width: 81px;
    height: 81px;
  }
  .profile-info{
    margin-left: 15px;
  }
  .profile-info-name{
    font-size: 36px;
  }
  .profile-info-location{
    font-size: 18px;
  }
  .table{
    height: 135px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 196dpi){
  nav{
    height: 108px;
    padding: 10px 30px;
  }
  main{
    top: 108px;
  }
  .profile-picture{
    width: 54px;
    height: 54px;
  }
  .profile-info{
    margin-left: 10px;
  }
  .profile-info-name{
    font-size: 24px;
  }
  .profile-info-location{
    font-size: 12px;
  }
  .table{
    height: 90px;
  }
}

/*}*/
